{%extends "plantillas/plantillaInicio.html"%}

{%block titulo%}
    Arce
{%endblock%}    

{%block cuerpo%}

    <!-- Div que contiene todo el contenido de Incio.html  -->
    <div class="contenedorIncio">
        <div class="pregunta">
            <h3>¿Qué es Arce?</h3>
            <p>
                Arce es un sitema operativo de software libre desarrollado por estudiantes 
                de la Universidad Autonoma de Guadalajara de la carrera de Ingenieria de software.
            </p>
        </div>  
        <div class="pregunta">
            <h3>¿Cual es el objetivo de Arce?</h3>
            <p>
                Arce tiene el objetivo de ser un sistema operativo multi plataforma, que te permita poderlo usar
                desdue culaquier tipo de equipo.
                De tal forma que Arce no dependera de un hardware en especifico, enrealidad se adaptara al programa que este corriendo
                de tal forma que el programa tiene que aprender y anticiparse al tipo de equipo al que va orientado y Arce hara con los 
                componentes definidos en el programa lo que el programa quiere.
            </p>
        </div>
        <div class="pregunta">
            <h3>Características de Arce</h3>
            <p>
                Arce es un sitema de facil uso, no esta orientado a ser un sitema grafico ya que hay equipos compatibles los cuales no tienen pantalla 
                pore esto no limita a los programadores a crear un entorno grafico para sus programas si es recerido. Es aquí donde dejamoos claro un punto 
                Arce es un sistema operativo que busca programadores ambiciosos ya que al ser un Sitema de sfotware libre, los programadores no tienen limites.
            </p>
        </div>
        <div class="pregunta">
            <h3>Seguridad en Arce</h3>
            <p>
                Sabemos lo importante que es tener confianza en nuestro sistema operativo, Arce tiene entre sus prioridades ser un sistema 
                seguro y estable para que sus usuarios puedan contar con la certeza de que su informacion y sus archivos son privados, saber
                que nadie podra acceder a su informacion privada sin su permiso.
            </p>
        </div>
        <div class="pregunta">
            <h3>Creadores</h3>
            <p>
                Nombre: Juvencio Alejandro Trejo Pascacio  <p>Numero de registro: 4549402</p>
            </p>
            <hr>
            <p>
                Nombre: Alejandro Ortiz Franco  <p>Numero de registro: 4569530</p>
         </p>
            <hr>
            <p>
                Nombre: Paulina Lomelí Orozco  <p>Numero de registro: 4549725</p>
            </p>
            <hr>
            <p>
                Nombre: Hannia Cristina Arciniega <p>Numero de registro: 4527981</p>
            </p>
        </div>
    </div>


{%endblock%}